.downloadZone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.downloadZone_isDragged {
  border: 2px dashed black;
  z-index: 10;
}
